POSTGRES_DB=phonebook
POSTGRES_USER=phonebook
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

# Used when running the Java backend on the host against Dockerized PostgreSQL
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=phonebook
DATABASE_USER=phonebook
DATABASE_PASSWORD=change-me
